
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey Spencer and Alexander</h3>
    <p>
      You have a possible new client.
    </p>
    <p>
      Put the <em>spliff</em> down and respond A$AP, there is money to be had.. HU$TLE.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
