<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Business Casual</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>ODN</strong>
                    </h2>
                    <hr>
                </div>
                <div class="container text-center">
                  <p>ODN is a painting company that specializes in interior and exterior painting.</p>
                   <p>Alexander and Spencer are two close friends that were roommates in college.  Upon graduation, the two friends decided that
                    they did not wish to enter the corporate world.</p>  <p>Both having worked as painters throughout high school
                      and college, Spencer and Alexander decided to start their own company.  With over seven years experience
                      in the painting industry, ODN strives to serve the Shenandoah Valley.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-6 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Spencer Harold<br>
                        <small>Co-Founder</small>
                    </h3>
                </div>
                <div class="col-sm-6 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Alexander Akerstrom<br>
                        <small>Co-Founder</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>



<%= render 'footer' %>
