<!DOCTYPE html>
<html lang="en">

<%= render 'head'%>

<body>

    <div class="brand">
      <div class="col-md-2 col-md-offset-5">
      <img class="img-responsive" src="assets/logo.png">
    </div>
    </div>
    <br>

    <div class="address-bar">Serving the Shenandoah Valley</div>

    <!-- Navigation -->
<%= render 'nav' %>


<div class="container">
  <div class="row" >
    <div class="box">
      <div class="col-lg-12 text-center">
        <h2>
          <small>We are  </small>
        </h2>
        <h1>ODN <br>Painting</h1>
        <hr class="small">
        <br>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr>
        <h2 class="section-heading" style="font-weight: 800">Why Us?</h2>
        <hr>
      </div>
    </div>

<br>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-4" id="home_design">
          <div class="timeline-image">
            <h1><i class="fa fa-bolt" aria-hidden="true"></i></h1>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="timeline-image">
            <h1><i class="fa fa-exclamation" aria-hidden="true"></i></h1>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="timeline-image">
            <h1><i class="fa fa-envira" aria-hidden="true"></i></h1>
          </div>
        </div>
      </div>
    </div>


<br>

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="col-sm-4">
          <h4 class="text-mut">Efficiency</h4>
          <hr class="smaller">
          <p class="text-mut">We get the job done in a timely manner without sacrificing quality.</p>
        </div>
        <div class="col-sm-4">
          <h4 class="text-mut">Quality</h4>
          <hr class="smaller">
          <p class="text-mut">Attention to detail and client satisfaction come first with us.</p>
        </div>
        <div class="col-sm-4">
          <h4 class="text-mut">We're Local!</h4>
          <hr class="smaller">
          <p class="text-mut">We are proud of our community and strive to bring the best results to all of our customers!</p>
        </div>
      </div>
    </div>

  <br>
  <br>
  <br>


  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <p class="large text-mut">We know finding reliable contractors can be a problem at times, thats why we make it a point to go above and beyond so you always know where to go for <strong>licensed, insured, and reliable</strong> service.</p>
    </div>
  </div>
</div>


<br>
<br>
<br>



<%= render 'users/mailer_form' %>
<br>
<br>

    <!-- /.container -->

<%= render 'footer' %>



</body>

</html>
