<html>
<%= render 'head' %>
<%= render 'nav2' %>
<body>
<div class="container text-center" id="thankyou">
      <h3> Your inquiry has been successfully submitted!</h3>
      <div class="col-sm-2 col-sm-offset-5">
      <%= link_to 'Go Back', root_path, class: "btn" %>
    </div>
</div>
</body>
</html>
